<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Playwright automation suite" parallel="methods">
    <parameter name="browser" value="chrome"/>
    <test name="Automation functional tests">
        <packages>
            <package name="com.orangehrm.tests"/>
        </packages>
    </test>
</suite>